aside.notifications {
    display: none;
}

* {
    color: #545454;
}

header nav > * {
    margin: 0 2vw 0 0;
}

.mainContent {
    flex-direction: column;
}

.mainContent > * {
    margin-bottom: 4vh;
}

.additionalApptInfo {
    display: none;
}

img {
    width: 75%;
}

.actions {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

.actions button {
    padding: 0 1vw;
}

.appointments {
    margin: 5vh 0 0 0;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.appointment {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5vh 2vw;
    box-shadow: inset 0 0 5px #dddddd;
    border-radius: 10px;
    margin-bottom: 7vh;
    background-color: #ffffff;
}