aside.notifications {
    display: none;
}

* {
    color: #545454;
}

header nav > * {
    margin: 0 2vw 0 0;
}

.mainContent {
    flex-direction: column;
}

.mainContent > * {
    margin-bottom: 4vh;
}

.additionalApptInfo {
    display: none;
}

img {
    width: 75%;
}

.actions {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

.actions button {
    padding: 0 1vw;
}

