#postAuth.rightContent {
    position: relative;
}

aside.notifications {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
    background-color: #ffffff;
    transform: scale(0);
    top: 100%;
    right: 7vw;
    height: 0;
    width: 0;
    transform-origin: center;
    border-radius: 10px;
    border: 2px solid #545454;
    box-shadow: 0px 0px 10px #bbbbbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

aside.notifications.show {
    height: 300px;
    width: 300px;
    transform: scale(1);
}

* {
    color: #545454;
}

header#postAuth nav > * {
    margin: 0 2vw 0 0;
}

#postAuth.mainContent {
    flex-direction: column;
}

#postAuth.mainContent > * {
    margin-bottom: 4vh;
}

.additionalApptInfo {
    overflow: hidden;
    white-space: nowrap;
    max-width: 30vw;
    flex-direction: column;
    margin-bottom: 1vh;
    transition: all .5s ease-in-out;
}

.additionalApptInfo * {
    margin-bottom: 1vh;
}

img#postAuth {
    width: 75%;
}

.actions {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.actions button {
    padding: 1vw;
    width: fit-content;
    height: auto;
}

#postAuth.mainContent nav button {
    width: 10vw;
}

.appointments {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.appointment {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5vh 2vw;
    box-shadow: inset 0 0 5px #dddddd;
    border-radius: 10px;
    margin-top: 5vh;
    background-color: #ffffff;
}

#postAuth.formItem * {
    margin-bottom: 2vh;
}

form .actions {
    width: 100%;
}

fieldset.fieldset {
    width: 80%;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 0 5px #cccccc;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

fieldset .formItem {
    width: 85%;
    margin: 0;
}

fieldset .formItem label {
    margin: 0;
}

fieldset .formItem label input {
    margin: 0 2vw 0 0;
    overflow: hidden;
}

@media (aspect-ratio < 1) {

    .actions {
        height: auto;
    }

    #postAuth.mainContent nav button {
        width: auto;
    }

    .actions button {
        padding: .5rem;
    }

    .appointment {
        flex-direction: column;
    }

    .appointment > span {
        margin-bottom: 2vh;
    }

    fieldset .formItem {
        margin-bottom: 2vh;
    }

    .additionalApptInfo {
        max-width: none;
    }
}